.Main{
    display: flex;
    justify-content: center;
    font-family: 'Kanit', sans-serif;
    

    & .container{
        background-color: rgba(0, 0, 0, 0.596);
        margin-top: 10vh;
        width: 95%;
        max-width: 1450px;
        padding: 0 15px;
        align-self: center;
        justify-content: center;
        display:grid;
        grid-template-columns: repeat(4, 1fr);
        height: auto;


        & .cards{
            margin: 1rem;
            background-color: #000000;
            width: 15vw;
            height: auto;
            font-size: 18px;
            color: #dad1d1;
            border-radius: 0.8rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap:nowrap;
            border-radius: 0.7rem;

            & .container-img{
                width: 100%;
                height: 13vw;
                display: flex;
                flex-direction: row;
                border-radius: 0.7rem 0.7rem 0 0;

            & picture{
                border-radius: 0.7rem 0.7rem 0 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                background-color: black;
            
                    & .img{
                    border-radius: 0.7rem 0.7rem 0 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    
                    }
                }    
            } 
            
            
            & .__card-text{
                width: 80%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                

                & .__card-type{
                    font-size: 15px;
                    font-weight: bold;
                    margin-top: .2rem;
                    margin-left: .2rem;
                    text-align: left;
                }

                & .__card-title{
                    font-size: 1.5rem;
                    font-weight: bold;
                    text-align: center;
                    margin: .5rem;
              
                }

                & .__card-desc{
                    text-align: center;
                    font-size: 16px;
                    font-weight: 500;
                    margin: .5rem;
                    height: 120px;
                    display: inline-flex;
                   
                    & p{
                        align-self: center;
                    }
                }

            } 
            
            & footer{
                & .__card-price{

                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                }

                & .__card-container-button{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    width: 100%;
                    padding-bottom: 2.5vh;
                    margin-top: 1vh;
                    
                    & button{
                        font-family: 'Kanit', sans-serif;
                        font-weight: 500;

                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 8px;
                            
                            height: 2.4vw;
                            width: 10vw;
                            align-self: center;
                            background-color: hsl(150, 27%, 4%);
                            color: rgb(235, 220, 20);
                            border-radius: .5rem;
                            font-size: .9rem;
                            border: none;
                            font-weight: 700px;

        
                            &:hover{
                                background-color: hsl(56, 95%, 47%);
                                color: black;
                                cursor: pointer;
                            }
                     }      
                }    
            }
        }
        
        & .cards:hover{
            transform: scale(1.03);
            transition: 100ms;
            -webkit-box-shadow: 0px 0px 32px 1px #d4bf00;
            -moz-box-shadow: 0px 0px 32px 1px #d4bf00;
            box-shadow: 0px 0px 32px 1px #d4bf00;
            cursor:pointer ;
        }
    }
}


 @media screen and (max-width: 768px) {
    .Main{

        & .container {
          width: 95%;  
          display: grid;
          place-content: center;
          grid-template-columns: repeat(1, 1fr);
          margin-top: 2vh;


          & .cards{
            width: 95%;
            height: 78%;
            border-radius: 0.5rem;
            flex-direction: row;   

            & .container-img{
                margin-left: 1vw;
                width: 30%;
                height: 90%;
                

            & picture{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                border-radius: 0.3rem;
                
            
                    & .img{
                    border-radius: 0.3rem;
                    width: 25vw;
                    height: 100%;
                    
                    }
                }    
            } 

            & .__card-text{
                width: 60%;

                & .__card-type{
                    display: none;
                }

                & .__card-title{
                    font-size: 1rem;
                    font-weight: bold;
                    text-align: left;
                    margin: .3rem 0.5rem 0 0.5rem;
              
                }

                & .__card-desc{
                    text-align: left;
                    font-size: 10px;
                    font-weight: 500;
                    margin: .5rem;
                    height: auto;
                }

            }

                & .__card-type{
                    display: none;
                }


                & footer{
                    width: 35%;
                    height: 100%;
                    display: flex;
                    justify-content: space-around;
                    flex-direction: column;
                    width: 35%;

                    & .__card-price{
                        padding-top: 5vw;
                        display: flex;
                        flex-direction: row;

                        & h2{
                            font-size: 1.25rem;
                        }
                        
                    }
    
                    & .__card-container-button{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        width: 100%;
                        padding-bottom: 0;
                        margin-top: 1vh;
                        
                        & button{
                            font-family: 'Kanit', sans-serif;
                            font-weight: 500;
    
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 3px;
                            margin-right: 1vw;
                            position: relative;
                            bottom: 0;
                                height: 4vh;
                                width: 100%;
                                align-self: center;
                                background-color: hsl(150, 27%, 4%);
                                color: rgb(235, 220, 20);
                                border-radius: .5rem;
                                font-size: .9rem;
                                border: solid 1px black;
                                font-weight: 500px;
    
            
                                &:hover{
                                    background-color: hsl(56, 95%, 47%);
                                    color: black;
                                    cursor: pointer;
                                }
                         }      
                    }    
                }
          }        

        }
    }
}
@media screen  and ( 580px <= width < 900px){
    .Main{
        & .container {
          width: 95%;  
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          align-items: center;
          margin-top: 2vh;
          justify-content: center;
          grid-gap: 2rem;

          & .cards{
            margin: 1rem;
            width: 60%;
            height: 45vw;
            border-radius: 0.8rem;
            display: flex;
            flex-direction: column;
            justify-self:center;
            align-items: center;
            flex-wrap:nowrap;

                & .container-img{
                    width: 100%;
                    height: 45%;
                    display: flex;
                    flex-direction: row;
                    border-radius: 0.7rem 0.7rem 0 0;
    
                & picture{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    background-color: black;
                
                        & .img{
                        border-radius: 0.7rem 0.7rem 0 0;
                        width: 100%;
                        height: 100%;
                        }
                        
                } 
              }
              & .__card-text{
                width: 60%;
                display: flex;
                flex-direction: column;
                justify-content: left;
                align-items: left;
                

                & .__card-title{
                    font-size: 1rem;
                    font-weight: bold;
                    text-align: left;
                    margin: .3rem 0.5rem 0 0.5rem;
              
                }

                & .__card-desc{
                    text-align: left;
                    font-size: 10px;
                    font-weight: 500;
                    margin: .5rem;
                    height: auto;
                }

            }


              & footer{
                & .__card-price{
                    font-size: .8rem;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                }

                & .__card-container-button{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    width: 100%;
                    padding-bottom: 2.5vh;
                    ;
                    
                    & button{
                        font-family: 'Kanit', sans-serif;
                        font-weight: 500;

                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 8px;
                            
                            height: 4vh;
                            width: 11vw;
                            align-self: center;
                            background-color: hsl(150, 27%, 4%);
                            color: rgb(235, 220, 20);
                            border-radius: .5rem;
                            font-size: .9rem;
                            border: none;
                            font-weight: 700px;
                            margin-bottom: 1vw;

        
                            &:hover{
                                background-color: hsl(56, 95%, 47%);
                                color: black;
                                cursor: pointer;
                            }
                     }      
                }    
            }
          }
        }
    }
}
@media screen  and ( 900px <= width < 1350px){
    .Main{
        & .container {
          width: 95%;  
          grid-template-columns: repeat(3, 1fr);
          align-items: center;
          margin-top: 2vh;
          margin-left: auto;

          & .cards{
            margin: 1rem;
            width: 70%;
            height: auto;
            font-size: 18px;
            border-radius: 0.8rem;
            display: flex;
            flex-direction: column;
            justify-self:center;
            align-items: center;
            flex-wrap:nowrap;

          }
        }
    }

}

@media screen  and ( 1351px <= width < 1800px){
    .Main{
        & .container {
          width: 95%;  
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          align-items: center;
          justify-content: center;
          margin-top: 2vh;

          & .cards{
            margin: 1rem;
            width: 18vw;
            height: auto;
            font-size: 18px;
            border-radius: 0.8rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap:nowrap;

          }
        }
    }

}
